html, body {
    height: 100%;
    
 }

 .mybody{
    background: black;

 }
#myImg{
    height: 30em;
}

.myjumbo{
    margin-top: 5em;
    text-align: center;
    background-color: black;
}

#map { 
    height: 40em;
 }

